@model User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css">
    <style>
        
        #clickButton {
            display: inline-block;
            padding: 20px 40px;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            background-color: #4CAF50; 
            border: none;
            border-radius: 50px; 
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

        
        #clickButton:hover {
            background-color: #45a049; 
            transform: scale(1.05); 
        }

        
        #clickButton:focus {
            outline: none; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        }
    </style>
</head>
<body>
    @Html.ActionLink("Сменить пароль",
            "ChangePassword",
            new { id = @Model.id })
    <div class="info">
        <span class="name">Логин: @Model.name @Model.id</span>
        <span class="coins">Монеты: <span id="coinCount">@Model.coins</span></span>
    </div>

    <!-- Форма для увеличения количества монет -->
    <form id="coinForm">
        <input type="hidden" name="login" value="@Model.name" />
        <input type="hidden" name="password" value="@Model.password" />
        <button id="clickButton" type="button">Кликнуть</button>
    </form>

    <script>
        document.getElementById('clickButton').addEventListener('click', function() {
            const formData = new FormData(document.getElementById('coinForm'));
            fetch('@Url.Action("IncrementCoins", "Home")', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('coinCount').innerText = data.coins;
                } else {
                    alert('Произошла ошибка при увеличении количества монет.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Произошла ошибка при увеличении количества монет.');
            });
        });
    </script>
</body>
</html>
