@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <h1>Смена пароля</h1>
        <div>
            <strong>Имя:</strong> @Model.name
        </div>
        <div>
            <strong>Пароль:</strong> @Model.password
        </div>
        <div>
            <strong>Количество монет:</strong> @Model.coins
        </div>
    </div>
    <form asp-action="СhangePasswordButton" method="post">
        <div class="form-group">
            <input type="hidden" name="name" value="@Model.name" />
            <input type="hidden" name="id" value="@Model.id" />
        </div>
        <div class="form-group">
            <label asp-for="password"></label>
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    
</body>
</html>
